<script type="text/ng-template" id="account.search.modal">

    <div class="modal-header">
        <h3 class="modal-title">Account Search</h3>
    </div>
    <div class="modal-body">
        <form ng-submit="search()">
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Search</button>
                </span>
                <input ng-model="words" type="text" class="form-control" placeholder="Search for...">
            </div>
        </form>
        <!-- /input-group -->
        <table class="table">
            <tr>
                <td>Name</td>
            </tr>
            <tr ng-repeat="account in accounts">
                <td><a ng-click="ok(account._id)">{{account.acctName}}</a></td>
            </tr>
        </table>

        <div ng-if='error' class="form-group row">
            <div class="col-sm-offset-2 col-sm-10 col-lg-6">
                <div ng-include="'common.error'" ng-controller="common.error"><div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>
