

<script type="text/ng-template" id="common.error">
    <div class="row bg-danger">
        <h3 ng-show="error.message">{{error.message}}</h1>
        <h4 ng-show="error.status">{{error.status}}</h2>
        <pre ng-show="error.stack">{{error.stack}}</pre>
    </div>
</script>
