<script type="text/ng-template" id="example">
    <!-- view for all states of the example module -->
    <div ui-view></div>
</script>

<script type="text/ng-template" id="example.[sub_state]">
    <!-- A view for a sub-state of the example module -->
</script>

<script type="text/ng-template" id="example.[component_name]">
    <!-- A view for a stand-alone component in the example module -->
</script>
