<script type="text/ng-template" id="profile">
    <div ui-view></div>
</script>

<script type="text/ng-template" id="profile.search">
    <div class="input-group">
        <span class="input-group-btn">
            <button ng-click="search()" class="btn btn-default" type="button">Search</button>
        </span>
        <input ng-model="words" type="text" class="form-control" placeholder="Search for...">
    </div>
    <!-- /input-group -->
    <table class="table">
        <tr>
            <td>Name</td>
        </tr>
        <tr ng-repeat="profile in profiles">
            <td><a href="#/profile/{{profile._id}}">{{profile.name}}</a></td>
        </tr>
    </table>

    <div ng-if='error' class="form-group row">
        <div class="col-sm-offset-2 col-sm-10 col-lg-6">
            <div ng-include="'common.error'" ng-controller="common.error"><div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="profile.view">

    <div class="panel panel-default">
        <ul class="list-group">
            <li ng-repeat="row in profile.rows" class="list-group-item" ng-include="'profile.row'">

            </li>
            <li class="list-group-item">
                <button ng-click="addRow()" type="button" class="btn btn-default btn-xs btn-block">+</button>
            </li>
        </ul>
    </div>
    <div ng-if='error' class="form-group row">
        <div class="col-sm-offset-2 col-sm-10 col-lg-6">
            <div ng-include="'common.error'" ng-controller="common.error"><div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="profile.row">
    <div ng-controller="profile.row">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" uib-collapse="isCollapsed">
                    <ul class="nav navbar-nav">
                        <li ng-click="moveUp($index)" style="cursor:pointer;"><a><span class="glyphicon glyphicon-arrow-up" aria-hidden="true" ></span></a></li>
                        <li ng-click="addRow($index)" style="cursor:pointer;"><a><span class="glyphicon glyphicon-plus" aria-hidden="true" ></span></a></li>
                        <li ng-click="moveDown($index)" style="cursor:pointer;"><a><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></a></li>
                        <li ng-click="addElementTo(row)" style="cursor:pointer;"><a>add element</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="row">
            <div
                ng-repeat="element in row.elements"
                ng-include="element.type"
                ng-class="'col-md-' + element.width + ' col-md-offset-' + element.offset">
            </div>
        </div>
    </div>

</script>

<script type="text/ng-template" id="profile.create">
    <form ng-submit="submit()">
        <div class="form-group">
            <label for="name">Profile Name</label>
            <input ng-model="name" type="text" class="form-control" id="name" placeholder="Name">
        </div>
        <button type="submit" class="btn btn-default">Create Profile</button>
    </form>
    <div ng-if='error' class="form-group row">
        <div class="col-sm-offset-2 col-sm-10 col-lg-6">
            <div ng-include="'common.error'" ng-controller="common.error"><div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="profile.text">
    <div ng-controller="profile.text" onload="init(element)">
        <p ng-click="status.edit=!status.edit" ng-show="!status.edit">{{element.text}}</p>
        <div ng-if="status.edit">
            <ul class="">
                <li><span ng-click="moveLeft(row, $index)" class="glyphicon glyphicon-arrow-left" aria-hidden="true" style="cursor:pointer;text-align:left"></span></li>
                <li><select ng-model="element.width" class="form-control" style="width: 3em; text-align:center">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                </select></li>
                <li><span ng-click="moveRight(row, $index)" class="glyphicon glyphicon-arrow-right" aria-hidden="true" style="cursor:pointer;text-align:right"></span></li>
            </ul>
            <form ng-submit="edit()">
                <textarea ng-model="status.text_tmp" class="form-control" rows="3"></textarea>
                <button type="submit" class="btn btn-default btn-block">+</button>
            </form>
        </div>
    </div>
</script>
