<script type="text/ng-template" id="user">
    <div ui-view></div>
</script>

<script type="text/ng-template" id="user.register">
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
            <form ng-submit="submit()"  class="form-horizontal">
                <div class="form-group row has-feedback">
                    <label for="username" class="col-sm-2 control-label">Username</label>
                    <div class="col-sm-10 col-lg-6">
                        <input
                            ng-model="user.username.value"
                            ng-change="validate.username();"

                            type="text"
                            class="form-control "
                            id="username"
                            placeholder="Username">
                        <span class="form-control-feedback" aria-hidden="true"><span ng-if="!user.username.registered">+</span><span class="glyphicon glyphicon-user"></span></span>
                    </div>
                </div>
                <div ng-if="admin.requireEmailConfirmation" class="form-group row ng-class: user.emailConfirmation.classes.group;">
                    <label for="email" class="col-sm-2 control-label">Code</label>
                    <div class="col-sm-10 col-lg-6">
                        <div class="input-group">
                            <div ng-if="admin.requireEmailConfirmation" class="input-group-btn">
                                <button type="button" class="btn btn-primary" ng-disabled="!user.email.success">Send</button>
                            </div>
                            <input
                                ng-model="user.emailConfirmation.value"
                                ng-change="validate.emailConfirmation();"

                                type="text"
                                class="form-control form-control-success"
                                id="emailConfirmation"
                                placeholder="Email Confirmation Code"
                                autocomplete="false">
                            <span ng-show="user.emailConfirmation.success" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                        </div>
                    </div>
                </div>
                <div ng-if="!user.username.registered" class="form-group row ng-class: user.password.classes.group;">
                    <label for="password" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-10 col-lg-6">
                        <input
                            ng-model="user.password.value"
                            ng-change="validate.password(); validate.passwordConfirm();"

                            type="password"
                            class="form-control form-control-success"
                            id="password"
                            placeholder="Password">
                        <span ng-show="user.password.success" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                        <uib-progressbar
                            class="progress-striped active"
                            value="user.password.testResult.strength * 25"
                            type="{{(['danger','danger', 'danger', 'warning', 'success'])[user.password.testResult.strength]}}">
                        </uib-progressbar>
                        <h6>Password Strength:<b> {{user.password.testResult.strength}} / 4</b></h6>
                        <h6>Estimated Time to Crack:<b> {{user.password.testResult.crackTime}}</b></h6>

                        <div ng-if="user.password.testResult.warnings.length > 0" class="alert alert-danger" role="alert">
                            <h6 ng-repeat="pw_error in user.password.testResult.warnings">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">Suggestion:</span>
                                {{pw_error}}
                            </h6>
                        </div>
                    </div>
                </div>
                <div ng-if="!user.username.registered" class="form-group row ng-class: user.passwordConfirm.classes.group;">
                    <label for="passwordConfirm" class="col-sm-2 control-label">Re-enter Password</label>
                    <div class="col-sm-10 col-lg-6">
                        <input
                            ng-model="user.passwordConfirm.value"
                            ng-change="validate.passwordConfirm();"

                            type="password"
                            class="form-control form-control-success"
                            id="passwordConfirm"
                            placeholder="Re-enter Password">
                        <span ng-show="user.passwordConfirm.success" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                    </div>
                </div>
                <div ng-if="user.username.registered" class="form-group row ng-class: user.passwordConfirm.classes.group;">
                    <label for="password" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-10 col-lg-6">
                        <input
                            ng-model="user.password.value"
                            type="password"
                            class="form-control form-control-success"
                            id="password"
                            placeholder="Password">
                        <span ng-show="false" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                    </div>
                </div>
                <div ng-if="!user.username.registered && admin.requireAgreement" class="form-group row">
                    <div class="col-sm-offset-2 col-sm-10 col-lg-6">
                        <div class="checkbox">
                            <label class="control-label">
                                <input ng-model='user.agreeToTaC' type="checkbox">
                                Agree to
                            </label>
                            <a href="{{admin.termsAndConditions}}">terms and conditions</a>.
                        </div>
                    </div>
                </div>
                <div ng-if="!user.username.registered && admin.enablePasswordReset" class="form-group row">
                    <div class="col-sm-offset-2 col-sm-10 col-lg-6">
                        <div class="checkbox">
                            <label class="control-label">
                                <input ng-model='user.enablePasswordReset' type="checkbox">
                                Enable Emailed Password Resets
                            </label>
                        </div>
                        <div ng-if="user.enablePasswordReset" class="alert alert-danger" role="alert">
                            <h6>
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Allowing your password to be reset by email is discouraged since email communication
                                is not secure, and could allow un-authorized access to your account.
                                However, without this enabled your password cannot be reset if you forget it.
                            </h6>
                        </div>
                    </div>
                </div>
                <div ng-if="!user.username.registered" class="form-group row">
                    <div class="col-sm-offset-2 col-sm-10 col-lg-6">
                        <button type="submit" class="btn btn-primary" ng-disabled="!allowRegister()">Register</button>
                    </div>
                </div>
                <div ng-if="user.username.registered" class="form-group row">
                    <div class="col-sm-offset-2 col-sm-10 col-lg-6">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </div>
                <div ng-if='error' class="form-group row">
                    <div class="col-sm-offset-2 col-sm-10 col-lg-6">
                        <div ng-include="'common.error'" ng-controller="common.error"><div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</script>

<script type="text/ng-template" id="user.reset">
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
            <form ng-submit="submit()"  class="form-horizontal">
                <div class="form-group row ng-class: user.email.classes.group;">
                    <label for="email" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10 col-lg-6">
                        <input
                            ng-model="user.email.value"
                            ng-change="validate.email();"

                            type="email"
                            class="form-control "
                            id="email"
                            placeholder="Email">
                        <span ng-show="user.email.success" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                    </div>
                </div>
                <div ng-if="admin.requireEmailConfirmation" class="form-group row ng-class: user.emailConfirmation.classes.group;">
                    <label for="email" class="col-sm-2 control-label">Code</label>
                    <div class="col-sm-10 col-lg-6">
                        <div class="input-group">
                            <div ng-if="admin.requireEmailConfirmation" class="input-group-btn">
                                <button type="button" class="btn btn-primary" ng-disabled="!user.email.success">Send</button>
                            </div>
                            <input
                                ng-model="user.emailConfirmation.value"
                                ng-change="validate.emailConfirmation();"

                                type="text"
                                class="form-control form-control-success"
                                id="emailConfirmation"
                                placeholder="Email Confirmation Code"
                                autocomplete="false">
                            <span ng-show="user.emailConfirmation.success" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group row ng-class: user.password.classes.group;">
                    <label for="password" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-10 col-lg-6">
                        <input
                            ng-model="user.password.value"
                            ng-change="validate.password(); validate.passwordConfirm();"

                            type="password"
                            class="form-control form-control-success"
                            id="password"
                            placeholder="Password">
                        <span ng-show="user.password.success" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>

                        <h6>Password Strength:<b> {{user.password.testResult.strength}} / 4</b></h6>

                        <h6>Time to Crack:<b> {{user.password.testResult.crackTime}}</b></h6>

                        <div ng-if="user.password.testResult.warnings.length > 0" class="alert alert-danger" role="alert">
                            <h6 ng-repeat="pw_error in user.password.testResult.warnings">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                {{pw_error}}
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="form-group row ng-class: user.passwordConfirm.classes.group;">
                    <label for="password" class="col-sm-2 control-label">Re-enter Password</label>
                    <div class="col-sm-10 col-lg-6">
                        <input
                            ng-model="user.passwordConfirm.value"
                            ng-change="validate.passwordConfirm();"

                            type="password"
                            class="form-control form-control-success"
                            id="passwordConfirm"
                            placeholder="Re-enter Password">
                        <span ng-show="user.passwordConfirm.success" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                    </div>
                </div>
                <div ng-if="admin.requireAgreement" class="form-group row">
                    <div class="col-sm-offset-2 col-sm-10 col-lg-6">
                        <div class="checkbox">
                            <label class="control-label">
                                <input ng-model='user.agreeToTaC' type="checkbox">
                                Agree to
                            </label>
                            <a href="{{admin.termsAndConditions}}">terms and conditions</a>.
                        </div>
                    </div>
                </div>
                <div ng-if="admin.enablePasswordReset" class="form-group row">
                    <div class="col-sm-offset-2 col-sm-10 col-lg-6">
                        <div class="checkbox">
                            <label class="control-label">
                                <input ng-model='user.enablePasswordReset' type="checkbox">
                                Enable Emailed Password Resets
                            </label>
                        </div>
                        <div ng-if="user.enablePasswordReset" class="alert alert-danger" role="alert">
                            <h6>
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Allowing your password to be reset by email is discouraged since email communication
                                is not secure, and could allow un-authorized access to your account.
                                However, without this enabled your password cannot be reset if you forget it.
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-offset-2 col-sm-10 col-lg-6">
                        <button type="submit" class="btn btn-primary" ng-disabled="!allowRegister()">Register</button>
                    </div>
                </div>
                <div ng-if='error' class="form-group row">
                    <div class="col-sm-offset-2 col-sm-10 col-lg-6">
                        <div ng-include="'common.error'" ng-controller="common.error"><div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</script>

<script type="text/ng-template" id="user.welcome">
    <div ng-if='!api.user._id'>
        <a ui-sref="user.register">Register</a>
        <a ui-sref="user.login">Login</a>
    </div>
    <div ng-if='api.user._id'>
        Welcome : <a ui-sref="user.controlPanel">{{api.isLoggedIn()}}</a>,
        <a ng-click="logout()" style="cursor: pointer;">Logout</a>
    </div>
</script>

<script type="text/ng-template" id="user.navbar">
    <nav class="navbar navbar-default" ng-init="isCollapsed=true">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Brand</a>
            </div>
            <div class="collapse navbar-collapse" uib-collapse="isCollapsed">
                <ul class="nav navbar-nav">
                    <li><a href="/#/profile/search">Profiles</a></li>
                </ul>
                <ul ng-if='api.user._id && !api.user.guest' class="nav navbar-nav navbar-right">
                    <li  uib-dropdown class="dropdown">
                        <a uib-dropdown-toggle id="single-button" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" style="cursor:pointer;">
                            <span>{{api.user.username}}</span>&nbsp;<span class="glyphicon glyphicon-user" aria-hidden="true" ></span>
                            <span class="sr-only">User Controls</span><span class="caret">
                        </span></a>
                        <ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
                            <li>
                                <a ng-click="logout()" style="cursor:pointer;">
                                    <span class="glyphicon glyphicon-log-out"></span> Logout
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul ng-if='!api.user._id || api.user.guest' class="nav navbar-nav navbar-right">
                    <li  uib-dropdown class="dropdown">
                        <a uib-dropdown-toggle id="single-button" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" style="cursor:pointer;">
                            <span>{{api.user.username}}</span>&nbsp;<span class="glyphicon glyphicon-warning-sign" aria-hidden="true" ></span>
                            <span class="sr-only">User Controls</span><span class="caret">
                        </span></a>
                        <ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
                            <li>
                                <a ui-sref="user.register">
                                    <span class="glyphicon glyphicon-user"></span> Login / Register
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</script>
