<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="./stylesheets/bootstrap.css" rel="stylesheet">

    <!-- load modules and initialization script -->
    <script data-main="index" src="lib/require.js"></script>

    <!-- load needed angular template files -->
    <% include modules/common.ejs %>
    <% include modules/user.ejs %>
</head>
<body ng-controller="MainCtrl">

    <!-- Top level of page layout and logic -->
    <div class="container-fluid">
        <div class="row">
          <div class="col-md-4" ng-include="'/user/register.html'"></div>
          <div class="col-md-4" ng-include="'/user/reset.html'"></div>
          <div class="col-md-4" ng-include="'/user/login.html'" ></div>
        </div>
    </div>

</body>
</html>
