<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Hi</title>

        <!-- Boostrap styles-->
        <link href="./css/bootstrap.css" rel="stylesheet">

        <!-- load modules and initialization script -->
        <script data-main="index" src="lib/require.js"></script>

        <!-- load needed angular template files -->
        <% include modules/common.ejs %>
        <% include modules/user.ejs %>
    </head>
    <body ng-controller="MainCtrl">

        <!-- Top level of page layout and logic -->
        <div class="container-fluid">
            <div class="row">
              <div ui-view></div>
            </div>
        </div>
    </body>
</html>
