<html>
<head>

    <link href="./stylesheets/bootstrap.css" rel="stylesheet">
    <link href="./stylesheets/test_code.css" rel="stylesheet">

    <script data-main="index" src="lib/require.js"></script>
</head>
<body ng-controller="MainCtrl">

    {{greetMe}}

    <div ng-include="'/user/register.html'" ></div>
    <div ng-include="'/user/reset.html'" ></div>
    <div ng-include="'/user/login.html'" ></div>

    <% include user.ejs %>

</body>
</html>
