<html>
<head>

    <link href="./stylesheets/bootstrap.css" rel="stylesheet">
    <link href="./stylesheets/test_code.css" rel="stylesheet">

    <script data-main="index" src="lib/require.js"></script>
</head>
<body ng-controller="MainCtrl">

    {{greetMe}}

    <% include auth.ejs %>

</body>
</html>
