<html>
<head>

    <link href="./stylesheets/bootstrap.css" rel="stylesheet">
    <link href="./stylesheets/test_code.css" rel="stylesheet">
<!--
    <script src="../node_modules/angular-drag-and-drop-lists/angular-drag-and-drop-lists.js"></script>
    <script src="./javascripts/boxin.js"></script>
-->
    <script data-main="test_code" src="lib/require.js"></script>

    <!-- load needed angular template files -->
    <% include modules/boxin.ejs %>
</head>
<body ng-controller="MainCtrl">


    <div class="block" style="postiion:relative; top: 100px;" ng-click="click_handled = false;">
        <div
            ng-include="'/one_list.html'"
            ng-controller="listctrl"
            onload="init(directory, ['directory'])"
            class="inline"
        ></div>
        <div
            ng-include="'/horizontal_list.html'"
            ng-controller="listctrl"
            onload="init(opened, ['open_file'])"
            class="inline"
        ></div>
    </div>



</body>
</html>
