<script type="text/ng-template" id="/user/register.html">
    <div ng-controller="user.register" class="">
        Register
        <form ng-submit="auth.register(user, response)">
            username: <input type="text" ng-model="user.username"><br>
            email: <input type="email" ng-model="user.email"><br>
            <button type="submit" class="" style="">register</button>
        </form>
        <p ng-if='message'>{{message}}<p>
    </div>
</script>

<script type="text/ng-template" id="/user/login.html">
    <div ng-controller="user.login" class="">
        Login
        <form ng-submit="auth.login(user, response)">
            username: <input type="text" ng-model="user.username"><br>
            password: <input type="password" ng-model="user.password"><br>
            <button type="submit" class="" style="">login</button>
        </form>
        <a ng-click="auth.reset()">reset password</a>
        <p ng-if='message'>{{message}}<p>
    </div>
</script>

<script type="text/ng-template" id="/user/reset.html">
    <div ng-controller="user.reset" class="">
        Password Reset
        <form ng-submit="auth.setPassword(user, response)">
            username: <input type="text" ng-model="user.username"><br>
            secret: <input type="text" ng-model="user.secret"><br>
            password: <input type="password" ng-model="user.password"><br>
            <button type="submit" class="" style="">reset</button>
        </form>
        <p ng-if='message'>{{message}}<p>
    </div>
</script>
