<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
</head>

<body>
  <script type="text/javascript">

    var request = new XMLHttpRequest();

    request.onload = function(event) {

      var response = JSON.parse(event.currentTarget.response);
      var message = document.getElementById('message');

      if (response.verified) {
        message.innerHTML = "<%= address %> has been verified. Thank you.";
      }else{
        message.innerHTML = "I am sorry, but <%= address %> could not be verified.";
      }
    };

    request.open("POST", "http://localhost:3000/api/email/<%= _id %>/verify", true);
    request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    request.send(JSON.stringify({
      code: "<%= code %>"
    }));
  </script>
  <span id='message'></span>
</body>

</html>
