
body {
    background-color: #000000;

    font-weight: bold;
    font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: #000000;

}

div {
    padding: 4px 4px;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    vertical-align: top;
    display: inline-block;
    position: relative;
}

.slot {

}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
  cursor: move;
}

div.row {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px;
    border-width: 0px;
    display: block;
}

.symbol {
    padding: 2px 2px;
}

div.assign {
    border-color: #4f5051;
    background-color: #80878e;
}

.assign div.string {
    border-color: #4f5051;
    background-color: #54595e;
}

.assign div.number {
    border-color: #4f5051;
    background-color: #54595e;
}

.assign div.boolean {
    border-color: #4f5051;
    background-color: #54595e;
}

.assign div.variable {
    border-color: #4f5051;
    background-color: #54595e;
}

.function {
    color: #f7bb80;
}

div.function {
    border-color: #f7bb80;
    background-color: #1e1c1a;
}

.function div.variable {
    border-color: #6b635c;
    background-color: #161513;
}

.function div.return {
    display: block;
}

.function div.assign {
    display: block;
}

.function div.evaluate {
    display: block;
}

div.return {
    border-color: #f7f071;
    background-color: #515140;
}

.return div.number {
    border-color: #686854;
    background-color: #1e1e18;
}

.return div.string {
    border-color: #686854;
    background-color: #1e1e18;
}
.return div.boolean {
    border-color: #686854;
    background-color: #1e1e18;
}
.return div.variable {
    border-color: #686854;
    background-color: #1e1e18;
}

.array {
    border-color: #e182ff;
    background-color: #504853;
}

.array div.number {
    border-color: #726777;
    background-color: #322c35;
}

.array div.string {
    border-color: #726777;
    background-color: #322c35;
}

.array div.boolean {
    border-color: #726777;
    background-color: #322c35;
}

.array div.variable {
    border-color: #726777;
    background-color: #322c35;
}

.blank {
    padding: 2px 2px;
    border: 2px solid #dddddd;
    border-radius: 5px;
    background-color: #ffffff;
    display: inline-block;
}

.if {
    vertical-align: top;
    padding: 4px 4px;
    border: 2px solid #4ed0fc;
    border-radius: 5px;
    background-color: #353e44;
    display: inline-block;
}

.property {
    border-width: 0px;
    display: block;
}

.evaluate {
    border-color: #c9ff8c;
    background-color: #3f4f44;
}

.evaluate div.number {
    border-color: #597060;
    background-color: #27302a;
}

.evaluate div.string {
    border-color: #597060;
    background-color: #27302a;
}

.evaluate div.boolean {
    border-color: #597060;
    background-color: #27302a;
}

.evaluate div.variable {
    border-color: #597060;
    background-color: #27302a;
}

.argument {
    padding: 2px 2px;
    border: 2px solid #f7bb80;
    border-radius: 5px;
    background-color: #54595e;
}

.symbol {
    color: white;
}

.null {
    color: #cccccc;
}

span.null {
    cursor : pointer;
}

div.null {
    padding: 0px 2px;
}

.variable {
    color: #ffffff;
}

span.variable {
    cursor : pointer;
}

div.variable {
    padding: 0px 2px;
}

.number {
    color: #a0f7a6;
}

span.number {
    cursor : pointer;
}

div.number {
    padding: 0px 2px;
}


.boolean {
    color: #34dc85;
}

span.boolean {
    cursor : pointer;
}

div.boolean {
    padding: 0px 2px;
}

.string {
    color: #a8d9ff;
}

span.string {
    cursor : pointer;
}

div.string {
    padding: 0px 2px;
}

.object {
    color: #ffa0b3;
}

div.object {
    border-color:#ffa0b3;
    background-color: #504853;
}

.object div.number {
    border-color:#726777;
    background-color: #322c35;
}

.object div.string {
    border-color:#726777;
    background-color: #322c35;
}

.object div.boolean {
    border-color:#726777;
    background-color: #322c35;
}

.object div.variable {
    border-color:#726777;
    background-color: #322c35;
}

div.dialog_box {
    position: absolute;
    top: -2px;
    left: -2px;
    z-index: 2;
    background-color: #000000;
    curser: default;
}

div.add {
    padding: 0px 2px;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

div.top_trash {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 2;

    border-radius: 0  0 5px 5px;
    border-width: 0;
    background-color: #c44444;
    curser: default;
}

ul[dnd-list], ul[dnd-list] > li {
	position: relative;
}

ul[dnd-list] {
    min-height: 42px;
    margin: 0px;
    padding-left: 0px;
}

.dndDragging {
    opacity: 0.5;
}

/**
 * The dndDraggingSource class will be applied to the source element of a drag
 * operation. It makes sense to hide it to give the user the feeling that he's
 * actually moving it. Note that the source element has also .dndDragging class.
 */
.dndDraggingSource {
    display:none;
}

/**
 * An element with .dndPlaceholder class will be added as child of the dnd-list
 * while the user is dragging over it.
 */
.dndPlaceholder {
    background-color: #ffffff;
    height: 1.5em;
    width: 1.5em;
    position: relative;
}

.top_trash > ul > .dndPlaceholder {

    display: none;
}

.array > ul > .dndPlaceholder {
    background-color: #e182ff;
    display: block;
    width: 100%;
}

.object > ul > .dndPlaceholder {
    background-color: #ffa0b3;
    display: block;
    width: 100%;
    min-width: 1.5em;
}

.property > ul > .dndPlaceholder {
    background-color: #ffa0b3;
    display: inline-block;
    width: 1.5em;
}

.function > ul > .dndPlaceholder {
    background-color: #f7bb80;
    display: block;
    width: 100%;
}

.function > .row > ul > .dndPlaceholder {
    background-color: #f7bb80;
    display: inline-block;
    width: 1.5em;
}

.evaluate > ul > .dndPlaceholder {
    background-color: #c9ff8c;
    display: inline-block;
    width: 1.5em;
}

.return > ul > .dndPlaceholder {
    background-color: #f7f071;
    display: inline-block;
    width: 1.5em;
}

.assign > ul > .dndPlaceholder {
    background-color: #ffffff;
    display: inline-block;
    width: 1.5em;
}

.reference > ul > .dndPlaceholder {
    background-color: #ffffff;
    display: inline-block;
    width: 1.5em;
}



ul.list_array {
    padding-left: 0;
    list-style: none;
    margin: 0;
}

div.categories {
    border-color: #ffffff;
    background-color: none;
    color : #ffffff;
    cursor: pointer;
}

div.types {
    border-color: #ffffff;
    background-color: none;
    color : #ffffff;
    cursor: pointer;
}

form {
    margin: 0;
}

input {
    background-color: rgba(0,0,0,0);
    border: none;
    padding: 0;
    width: 6em;
}

select {
    background-color: rgba(0,0,0,0);
    border: none;
    padding: 0;
}
