
body {
    background-color: #000000;
    font-size: 0.8em;
    font-weight: bold;
    font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier;

}

a {
    text-decoration: none;
    color: #000000;
}

div {
    padding: 4px 4px;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    vertical-align: top;
    display: inline-block;
}

div.row {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px;
    border-width: 0px;
    display: block;
}

.symbol {
    padding: 2px 2px;
}

div.assign {
    border-color: #4f5051;
    background-color: #80878e;
}

.assign div.string {
    border-color: #4f5051;
    background-color: #54595e;
}

.assign div.number {
    border-color: #4f5051;
    background-color: #54595e;
}

.assign div.boolean {
    border-color: #4f5051;
    background-color: #54595e;
}

.assign div.variable {
    border-color: #4f5051;
    background-color: #54595e;
}

.function {
    color: #f7bb80;
}

div.function {
    border-color: #f7bb80;
    background-color: #1e1c1a;
}

.function div.variable {
    border-color: #6b635c;
    background-color: #161513;
}

.function div.return {
    display: block;
}

.function div.assign {
    display: block;
}

.function div.evaluate {
    display: block;
}

div.return {
    border-color: #f7f071;
    background-color: #515140;
}

.return div.number {
    border-color: #686854;
    background-color: #1e1e18;
}

.return div.string {
    border-color: #686854;
    background-color: #1e1e18;
}
.return div.boolean {
    border-color: #686854;
    background-color: #1e1e18;
}
.return div.variable {
    border-color: #686854;
    background-color: #1e1e18;
}

.array {
    border-color: #e182ff;
    background-color: #504853;
}

.array div.number {
    border-color: #726777;
    background-color: #322c35;
}

.array div.string {
    border-color: #726777;
    background-color: #322c35;
}

.array div.boolean {
    border-color: #726777;
    background-color: #322c35;
}

.array div.variable {
    border-color: #726777;
    background-color: #322c35;
}

.blank {
    padding: 2px 2px;
    border: 2px solid #dddddd;
    border-radius: 5px;
    background-color: #ffffff;
    display: inline-block;
}

.if {
    vertical-align: top;
    padding: 4px 4px;
    border: 2px solid #4ed0fc;
    border-radius: 5px;
    background-color: #353e44;
    display: inline-block;
}

.parameter_def {
    border-width: 0px;
    display: block;
}

.evaluate {
    border-color: #c9ff8c;
    background-color: #3f4f44;
}

.evaluate div.number {
    border-color: #597060;
    background-color: #27302a;
}

.evaluate div.string {
    border-color: #597060;
    background-color: #27302a;
}

.evaluate div.boolean {
    border-color: #597060;
    background-color: #27302a;
}

.evaluate div.variable {
    border-color: #597060;
    background-color: #27302a;
}

.argument {
    padding: 2px 2px;
    border: 2px solid #f7bb80;
    border-radius: 5px;
    background-color: #54595e;
}

.symbol {
    color: white;
}


.variable {
    color: #ffffff;
}

div.variable {
    padding: 2px 2px;
}

.number {
    color: #a0f7a6;
}

div.number {
    padding: 2px 2px;
}


.boolean {
    color: #34dc85;
}

div.boolean {
    padding: 2px 2px;
}

.string {
    color: #a8d9ff;
}

div.string {
    padding: 2px 2px;
}

.object {
    color: #ffa0b3;
}

div.object {
    border-color:#ffa0b3;
    background-color: #504853;
}

.object div.number {
    border-color:#726777;
    background-color: #322c35;
}

.object div.string {
    border-color:#726777;
    background-color: #322c35;
}

.object div.boolean {
    border-color:#726777;
    background-color: #322c35;
}

.object div.variable {
    border-color:#726777;
    background-color: #322c35;
}
