<html>
<head>

    <link href="./stylesheets/bootstrap.css" rel="stylesheet">
    <link href="./stylesheets/test_code.css" rel="stylesheet">
<!--
    <script src="../node_modules/angular-drag-and-drop-lists/angular-drag-and-drop-lists.js"></script>
    <script src="./javascripts/boxin.js"></script>
-->
    <script data-main="javascripts/main" src="javascripts/lib/require.js"></script>
</head>
<body ng-controller="MainCtrl">


    <div class="top_trash" style=""

    >
        <ul
            ng-init="recycle_bin = []"
            dnd-list="recycle_bin"
            dnd-horizontal-list="true"
            class="list_array inline_list" style="display:inline;">
            <li style="display:inline;" ng-click="view_bin=!view_bin">
                <span class="glyphicon glyphicon-trash" style="width:100%; text-align:center; font-size: 30px; cursor: pointer;"></span>
            </li>
            <li
                ng-show="view_bin"
                ng-repeat="value in recycle_bin"
                dnd-type="value.type"
                dnd-draggable="value"
                dnd-effect-allowed="move"
                dnd-dragstart ="status.dragging = true;"
                dnd-canceled="status.dragging = false"
                dnd-moved="recycle_bin.splice($index, 1); status.dragging = false"
                ng-click="recycle_bin.splice($index,1)"
                style="display:inline; cursor: pointer;"
            >

                <div class="{{value.type}}" style="width:40px; height:40px;"></div>
            </li>
        </ul>
    </div>

    <div class="row" style="postiion:relative; top: 100px;">
        <div ng-repeat="value in value" ng-include="'/' + value.type + '.html'" class="{{value.type}}"></div>
    </div>



    <script type="text/ng-template" id="/types.html">
    <!--
        <ul class="list_array" ng-if="status.allowed_types.length > 1">
            <li ng-click="status.choose=false">nevermind</li>
            <li
                ng-repeat="type in Object.keys(types)"
                ng-click="status.allowed_types.indexOf(type) != -1 ? types[type](status.list); status.choose = false;"
            >
                {{type}}
            </li>
        </ul>
        <div ng-if="status.allowed_types.length === 1" ng-init="types[status.allowed_types[0]](status.list); status.choose = false;"></div>
        -->
    </script>


    <script type="text/ng-template" id="/one_list.html">
        <ul
            dnd-list="list"
            dnd-horizontal-list="true"
            dnd-disable-if="list.length === 1"
            dnd-allowed-types="allowed_types"
            dnd-inserted="list.splice(index, 0, item)"
            class="list_array inline_list" style="display:inline;">
            <li style="display:inline;">
                <div
                    ng-show="list.length === 0 && !status.choose"
                    class="add"
                    style="width: 5em; text-align: center;"
                    ng-click="status.choose=true"
                >+</div>
                <div ng-if="status.choose" ng-include="'/types.html'" class="types" ></div>
            </li>
            <li
                ng-repeat="value in list"
                dnd-type="value.type"
                dnd-draggable="value"
                dnd-effect-allowed="move"
                dnd-moved="list.splice($index, 1);"
                style="display:inline;"
            >

                <div ng-include="'/' + value.type + '.html'" class="{{value.type}}" ></div>
            </li>
        </ul>
    </script>

    <script type="text/ng-template" id="/horizontal_list.html">
        <ul
            dnd-list="list"
            dnd-horizontal-list="true"
            dnd-allowed-types="allowed_types"
            dnd-inserted="list.splice(index, 0, item)"
            class="list_array inline_list" style="display:inline;"
        >

            <li
                ng-repeat="value in list"
                dnd-type="value.type"
                dnd-draggable="value"
                dnd-effect-allowed="move"
                dnd-moved="list.splice($index, 1);"
                style="display:inline;"
            >

                <div ng-include="'/' + value.type + '.html'" class="{{value.type}}" ></div>
            </li>

            <li style="display:inline;">
                <div
                    ng-show="!status.choose"
                    class="add"
                    style="width: 5em; text-align: center;"
                    ng-click="status.choose=true;"
                >+</div>
                <div ng-if="status.choose" ng-include="'/types.html'" class="types" ></div>
            </li>
        </ul>
    </script>

    <script type="text/ng-template" id="/vertical_list.html">
        <ul
            dnd-list="list"
            dnd-allowed-types="allowed_types"
            class="list_array">
            <li
                ng-repeat="value in list"
                dnd-type="value.type"
                dnd-draggable="value"
                dnd-effect-allowed="move"
                dnd-moved="list.splice($index, 1);"
            >
                <div ng-include="'/' + value.type + '.html'" class="{{value.type}}"></div>
            </li>
            <li>
                <div
                    ng-show="!status.choose"
                    class="add"
                    style="width: 100%; text-align: center;"
                    ng-click="status.choose=true;"
                >+</div>
                <div ng-show="status.choose" ng-include="'/types.html'" class="types" ></div>
            </li>
        </ul>
    </script>

    <script type="text/ng-template" id="/javascript.html">
        <span class="null">{{value.source}}</span>
    </script>

    <script type="text/ng-template" id="/null.html">
        <span class="null">null</span>
    </script>

    <script type="text/ng-template" id="/variable.html">
        <span
            ng-show="!value.edit || test.invalid || test.reserved || test.override_conflict || test.scopelost_conflict"
            class="variable"
            ng-click="value.edit=!value.edit"
        >{{value.name}}</span>
        <form ng-show="value.edit || value.name===''">
            <input ng-init="value.name_tmp=value.name" ng-model="value.name_tmp"</input>
            <span
                ng-show="value.edit || !test || test.invalid || test.reserved"
                ng-click="test = test_variable_name(value, current_function); value.edit=test.invalid || test.reserved || test.override_conflict || test.scopelost_conflict;"
                class="glyphicon glyphicon-ok"

                style="cursor: pointer; color: #ffffff;"></span>
            <span ng-show="test.invalid" style="cursor: pointer; color: #ff0000;">invalid</span>
            <span ng-show="test.reserved" style="cursor: pointer; color: #ff0000;">reserved</span>
            <span
                ng-show="test.scopelost_conflict || test.override_conflict"
                ng-click="test={}; value.edit=false; value.name=value.name_tmp;"
                style="cursor: pointer; color: #ff0000;"
            >ignore conflicts</span>
        </form>
    </script>


    <script type="text/ng-template" id="/boolean.html">

        <span
            ng-show="!value.edit"
            class="boolean"
            ng-click="value.edit=true"
        >{{value.value}}</span>
        <form ng-show="value.edit">
            <select ng-model="value.value">
                <option value="true">true</option>
                <option value="false">false</option>
            </select>
            <span
                ng-click="value.edit=false"
                class="glyphicon glyphicon-ok"
                style="cursor: pointer; color: #ffffff;"></span>
        </form>
    </script>

    <script type="text/ng-template" id="/number.html">

        <span
            ng-show="!value.edit"
            class="number"
            ng-click="value.edit=true"
        >{{value.value}}</span>
        <form ng-show="value.edit" ng-init="value.value_tmp=value.value">
            <input ng-model="value.value_tmp"></input>
            <span
                ng-click="test_number(value)"
                class="glyphicon glyphicon-ok"
                style="cursor: pointer; color: #ffffff;"></span>
        </form>
    </script>

    <script type="text/ng-template" id="/string.html">
        <span
            ng-show="!value.edit"
            class="string"
            ng-click="value.edit=true"
            style="white-space: pre;"
        >{{"\'" + value.value + "\'"}}</span>
        <form ng-show="value.edit">
            &#39;<input ng-model="value.value" ng-trim="false"></input>&#39;
            <span
                ng-click="value.edit=false"
                class="glyphicon glyphicon-ok"
                style="cursor: pointer; color: #ffffff;"></span>
        </form>
    </script>

    <script type="text/ng-template" id="/property.html">

        <div
            ng-include="'/one_list.html'"
            ng-controller="listctrl"
            onload="init(value.name, ['string'])"
        ></div>
        <span class="symbol" >:</span>
        <div
            ng-include="'/one_list.html'"
            ng-controller="listctrl"
            onload="init(value.value, ['boolean','number','string','object','array','function','evaluate','variable','reference'])"
        ></div>
    </script>

    <script type="text/ng-template" id="/object.html">
        <div
            ng-include="'/vertical_list.html'"
            ng-controller="listctrl"
            onload="init(value.properties, ['property'])"
        ></div>

    </script>

    <script type="text/ng-template" id="/array.html">
        <div
            ng-include="'/vertical_list.html'"
            ng-controller="listctrl"
            onload="init(value.arr, ['boolean','number','string','object','array','function','evaluate','variable', 'reference'])"
        ></div>
    </script>

    <script type="text/ng-template" id="/function.html">
        <div ng-init="current_function = value;" class="row">
            <span class="symbol">arguments</span>
            <div
                ng-include="'/horizontal_list.html'"
                ng-controller="listctrl"
                onload="init(value.args, ['variable'])"
            ></div>
        </div>
        <div class="row">
            <span class="symbol" >variables</span>
            <div
                ng-include="'/horizontal_list.html'"
                ng-controller="listctrl"
                onload="init(value.vars, ['variable'])"
            ></div>
        </div>

        <div
            ng-include="'/vertical_list.html'"
            ng-controller="listctrl"
            onload="init(value.sequence, ['assign', 'evaluate', 'return'])"
        ></div>
    </script>

    <script type="text/ng-template" id="/assign.html">
        <div
            ng-include="'/one_list.html'"
            ng-controller="listctrl"
            onload="init(value.variable, ['variable','reference'])"
        ></div>
        <span class="symbol">&larr;</span>
        <div
            ng-include="'/one_list.html'"
            ng-controller="listctrl"
            onload="init(value.value, ['boolean','number','string','object','array','function','evaluate','variable','reference'])"
        ></div>
    </script>

    <script type="text/ng-template" id="/evaluate.html">
        <div
            ng-include="'/one_list.html'"
            ng-controller="listctrl"
            onload="init(value.variable, ['function','variable','reference', 'assign', 'evaluate'])"
        ></div>
        <span class="symbol">(&larr;)</span>
        <div
            ng-include="'/horizontal_list.html'"
            ng-controller="listctrl"
            onload="init(value.args, ['boolean','number','string','object','array','function','evaluate','variable','reference'])"
        ></div>
    </script>

    <script type="text/ng-template" id="/return.html">
        <span class="symbol">return &larr;</span>
        <div
            ng-include="'/one_list.html'"
            ng-controller="listctrl"
            onload="init(value.variable, ['boolean','number','string','object','array','function','evaluate','variable','reference'])"
        ></div>
    </script>

    <script type="text/ng-template" id="/reference.html">
        <div
            ng-include="'/one_list.html'"
            ng-controller="listctrl"
            onload="init(value.object, ['variable','reference','assign','evaluate'])"
        ></div>
        <span class="symbol">[&larr;]</span>
        <div
            ng-include="'/one_list.html'"
            ng-controller="listctrl"
            onload="init(value.prop, ['evaluate','variable','number','string','reference'])"
        ></div>
    </script>

    <script type="text/ng-template" id="/condition.html">
        <div
            ng-include="'/one_list.html'"
            ng-controller="listctrl"
            onload="init(value.condtion, ['evaluate', 'assign', 'variable', 'reference'])"
        ></div>
        <div
            ng-include="'/vertical_list.html'"
            ng-controller="listctrl"
            onload="['assign', 'evaluate', 'return']"
        ></div>
    </script>

    <script type="text/ng-template" id="/if.html">

    </script>

</body>
</html>
