<html>
<head>

    <link href="./stylesheets/bootstrap.css" rel="stylesheet">
    <link href="./stylesheets/test_code.css" rel="stylesheet">
<!--
    <script src="../node_modules/angular-drag-and-drop-lists/angular-drag-and-drop-lists.js"></script>
    <script src="./javascripts/boxin.js"></script>
-->
    <script data-main="javascripts/main" src="javascripts/lib/require.js"></script>
</head>
<body ng-controller="MainCtrl">


    <div class="block" style="postiion:relative; top: 100px;" ng-click="click_handled = false;">
        <div
            ng-include="'/one_list.html'"
            ng-controller="listctrl"
            onload="init(directory, ['directory'])"
            class="inline"
        ></div>
        <div
            ng-include="'/horizontal_list.html'"
            ng-controller="listctrl"
            onload="init(opened, ['open_file'])"
            class="inline"
        ></div>
    </div>



    <script type="text/ng-template" id="/types.html">


        <div ng-controller="types" class="box types">
            <div ng-click="status.choose=false" class="nevermind">nevermind</div>

            <ul ng-if="view_types['null'] || view_types['boolean'] || view_types['number'] || view_types['string']" class="inline list_array">
                <li ng-show="view_types['null']" ng-click="add('null')" style="cursor: pointer;">null</li>
                <li ng-show="view_types['boolean']" ng-click="add('boolean')" style="cursor: pointer;">boolean</li>
                <li ng-show="view_types['number']" ng-click="add('number')" style="cursor: pointer;">number</li>
                <li ng-show="view_types['string']" ng-click="add('string')" style="cursor: pointer;">string</li>
            </ul>
            <ul ng-if="view_types['variable'] || view_types['reference'] || view_types['evaluate'] || view_types['assign']" class="inline list_array">
                <li ng-show="view_types['variable']" ng-click="add('variable')" style="cursor: pointer;">variable</li>
                <li ng-show="view_types['reference']" ng-click="add('reference')" style="cursor: pointer;">reference</li>
                <li ng-show="view_types['evaluate']" ng-click="add('evaluate')" style="cursor: pointer;">evaluate</li>
                <li ng-show="view_types['assign']" ng-click="add('assign')" style="cursor: pointer;">assign</li>
            </ul>
            <ul ng-if="view_types['object'] || view_types['array'] || view_types['function'] || view_types['return']" class="inline list_array">
                <li ng-show="view_types['object']" ng-click="add('object')" style="cursor: pointer;">object</li>
                <li ng-show="view_types['array']" ng-click="add('array')" style="cursor: pointer;">array</li>
                <li ng-show="view_types['function']" ng-click="add('function')" style="cursor: pointer;">function</li>
                <li ng-show="view_types['return']" ng-click="add('return')" style="cursor: pointer;">return</li>
            </ul>
            <ul ng-if="view_types['if'] || view_types['while'] || view_types['for'] || view_types['for-in']" class="inline list_array">
                <li ng-show="view_types['if']" ng-click="add('if')" style="cursor: pointer;">if</li>
                <li ng-show="view_types['while']" ng-click="add('while')" style="cursor: pointer;">while</li>
                <li ng-show="view_types['for']" ng-click="add('for')" style="cursor: pointer;">for</li>
                <li ng-show="view_types['for-in']" ng-click="add('for-in')" style="cursor: pointer;">for-in</li>
            </ul>
            <ul ng-if="view_types['directory'] || view_types['module_file'] || view_types['object_file'] || view_types['display_file'] || view_types['dependency_file']" class="inline list_array">
                <li ng-show="view_types['directory']" ng-click="add('directory')" style="cursor: pointer;"><span class="directory">directory</span></li>
                <li ng-show="view_types['object_file']" ng-click="add('object_file')" style="cursor: pointer;"><span class="object">object</span></li>
                <li ng-show="view_types['module_file']" ng-click="add('module_file')" style="cursor: pointer;"><span class="module">module</span></li>
                <li ng-show="view_types['display_file']" ng-click="add('display_file')" style="cursor: pointer;">display</li>
                <li ng-show="view_types['dependency_file']" ng-click="add('dependency_file')" style="cursor: pointer;"><span class="dependency">dependency</span></li>
            </ul>

            <ul ng-if="view_types['dependency']" class="inline list_array">
                <li ng-click="add('dependency')" style="cursor: pointer;">dependency</li>
            </ul>

            <ul ng-if="view_types['source']" class="inline list_array">
                <li ng-click="add('source')" style="cursor: pointer;">source</li>
            </ul>

            <div ng-if="clipboard.length > 0 && view_types[clipboard[clipboard.length-1].type]" ng-click="add(clipboard.pop()); " class="inline" style="cursor: pointer;">paste</div>
        </div>

    </script>


    <script type="text/ng-template" id="/one_list.html">
        <ul class="list_array inline">
            <li ng-if="list.length === 0" style="display:inline;">
                <div
                    ng-show="!status.choose"
                    class="box add"
                    style="width: 5em;"
                    ng-click="status.choose=true"
                >+</div>
                <div ng-if="status.choose" ng-include="'/types.html'" ></div>
            </li>
            <li ng-repeat="value in list">
                <div ng-include="'/' + value.type + '.html'" style="display:inline;"></div>
            </li>
        </ul>
    </script>

    <script type="text/ng-template" id="/horizontal_list.html">
        <ul class="list_array">
            <li ng-repeat="value in list" class="inline">
                <div ng-include="'/' + value.type + '.html'"></div>
            </li>
            <li ng-if="allowed_types.length > 0" style="display:inline-block;">
                <div
                    ng-show="!status.choose"
                    class="box add"
                    style="width: 5em;"
                    ng-click="status.choose=true;"
                >+</div>
                <div ng-if="status.choose" ng-include="'/types.html'" ></div>
            </li>
        </ul>
    </script>

    <script type="text/ng-template" id="/vertical_list.html">
        <ul class="list_array">
            <li ng-repeat="value in list">
                <div ng-include="'/' + value.type + '.html'"  ></div>
            </li>
            <li ng-if="allowed_types.length > 0">
                <div
                    ng-show="!status.choose"
                    class="box add"
                    style="width: 100%;"
                    ng-click="status.choose=true;"
                >+</div>
                <div ng-if="status.choose" ng-include="'/types.html'" ></div>
            </li>
        </ul>
    </script>

    <script type="text/ng-template" id="/vertical_list_indexes.html">
        <ul class="list_array">
            <li ng-repeat="value in list">
                <span class="inline">{{$index}}&nbsp;:&nbsp;</span><div class="inline" ng-include="'/' + value.type + '.html'"  ></div>
            </li>
            <li>
                <div
                    ng-show="!status.choose"
                    class="box add"
                    style="width: 100%;"
                    ng-click="status.choose=true;"
                >+</div>
                <div ng-if="status.choose" ng-include="'/types.html'" ></div>
            </li>
        </ul>
    </script>

    <script type="text/ng-template" id="/directory.html">
        <div ng-controller="directory" class="box directory" ng-click="box_clicked(status)">
            <div ng-if="choose_file">
                <span
                    class="symbol"
                    style="cursor:pointer;"
                    ng-click="status.view=!status.view;"
                >{{value.name}}</span>
                <div
                    ng-if="status.view"
                    ng-include="'/vertical_list.html'"
                    ng-controller="listctrl"
                    onload="init(value.nodes, [])"
                    class="block"
                ></div>
            </div>

            <div ng-if="!choose_file">
                <div class="inline">
                    <span
                        class="symbol"
                        style="cursor:pointer;"
                        ng-click="status.view=!status.view;"
                    >{{value.name}}</span>
                    <div ng-if="status.view && status.edit">
                        <form ng-submit="change_name()">
                            <hr>
                            <input type="text" ng-model="status.name_tmp"></input>
                            <button type="submit" class="box add" style="">+</button>
                            <span ng-show="status.test.invalid" style="cursor: pointer; color: #ff0000;">invalid</span>
                        </form>
                    </div>
                    <div ng-if="status.view" class="block">
                        <div class="inline">&nbsp;</div>
                        <div

                            ng-include="'/vertical_list.html'"
                            ng-controller="listctrl"
                            onload="init(value.nodes, ['directory', 'object_file', 'module_file', 'display_file', 'dependency_file'])"
                            class="inline"
                        ></div>
                    </div>
                </div>
                <div ng-if="status.view && status.view_actions">

                    <ul class="list_array">
                        <li><div class="box add" style="width: 100%;" ng-click="copy(value)">copy</div></li>
                        <li><div class="box add" style="width: 100%;" ng-click="cut(list, $index)">cut</div></li>
                        <li><div ng-click="status.edit=!status.edit" class="box add" style="width: 100%;">rename</div></li>
                    </ul>

                </div>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="/file.html">
        <div ng-controller="file" class="box slot file">
            <span class="glyphicon" ng-class="class()" aria-hidden="true"></span>
            <div class="inline" ng-if="choose_file.cb">
                <span
                    class="file"
                    ng-click="choose_file.cb(value.name)"
                    style="white-space: pre;"
                >{{value.name}}</span>
            </div>
            <div class="inline" ng-if="!choose_file.cb">
                <span
                    class="file"
                    ng-click="status.view=!status.view"
                    style="white-space: pre;"
                >{{value.name}}</span>
                <span class="symbol" style="cursor:pointer;" ng-show="status.view" ng-click="status.edit=!status.edit">*</span>
                <form ng-if="status.view && status.edit" ng-submit="change_name()">
                    <hr>
                    <input ng-model="status.name_tmp" ng-trim="false"></input>
                    <button type="submit" class="btn btn-warning btn-xs">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                    </button>
                </form>
                <div
                    ng-if="status.view"
                    ng-include="'/one_list.html'"
                    ng-controller="listctrl"
                    onload="init(value.value, ['module_file','object'])"
                    class="block"
                ></div>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="/module_file.html">
    <div ng-controller="module_file" class="box slot file" ng-click="box_clicked(status)">

        <div class="inline" ng-if="choose_file">
            <span
                class="file"
                ng-click="choose_file(get_path(), value.name)"
                style="white-space: pre;"
            ><span class="module" style="cursor:pointer;">module: </span> {{value.name}}</span>
        </div>
        <div class="inline" ng-if="!choose_file">
            <span
                class="file"
                ng-click="status.view=!status.view"
                style="white-space: pre;"
            ><span class="module" style="cursor:pointer;">module: </span> {{value.name}}</span>
            <form ng-if="status.view_actions && status.edit" ng-submit="change_name()">
                <hr>
                <input ng-model="status.name_tmp" ng-trim="false"></input>
                <button type="submit" class="btn btn-warning btn-xs">
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                </button>

            </form>
            <ul ng-if="status.view_actions" class="list_array">
                <li><div class="box add" style="width: 100%;" ng-click="open(value.value, get_path())">open</div></li>
                <li><div ng-click="status.edit=!status.edit" class="box add" style="width: 100%;">rename</div></li>
                <li><div class="box add" style="width: 100%;" ng-click="copy(value)">copy</div></li>
                <li><div class="box add" style="width: 100%;" ng-click="cut(list, $index)">cut</div></li>
            </ul>
        </div>
    </div>
    </script>

    <script type="text/ng-template" id="/dependency_file.html">
    <div ng-controller="dependency_file" class="box slot file" ng-click="box_clicked(status)">

        <div class="inline" ng-if="choose_file">
            <span
                class="file"
                ng-click="choose_file(get_path(), value.name)"
                style="white-space: pre;"
                class="inline"
            ><span class="dependency" style="cursor:pointer;">dependency: </span> {{value.name}}</span>
        </div>
        <div class="inline" ng-if="!choose_file">
            <div class="block">
                <span
                    class="file"
                    ng-click="status.view=!status.view"
                    style="white-space: pre;"
                ><span class="dependency" style="cursor:pointer;">dependency: </span>{{value.name}}</span>
                <form ng-if="status.view_actions && status.edit" ng-submit="change_name()">
                    <hr>
                    <input ng-model="status.name_tmp" ng-trim="false"></input>
                    <button type="submit" class="btn btn-warning btn-xs">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                    </button>

                </form>
            </div>
            <div ng-if="status.view" class="block">
                <span
                    class="file"
                    ng-click="status.edit_version=!status.edit_version"
                    style="white-space: pre;"
                >version : {{value.version}}</span>
                <form ng-if="status.view_actions && status.edit_version" ng-submit="change_version()">
                    <hr>
                    <input ng-model="status.version_tmp" ng-trim="false"></input>
                    <button type="submit" class="btn btn-warning btn-xs">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                    </button>

                </form>
            </div>
            <ul ng-if="status.view_actions" class="list_array">
                <li><div ng-click="status.edit=!status.edit" class="box add" style="width: 100%;">rename</div></li>
                <li><div class="box add" style="width: 100%;" ng-click="copy(value)">copy</div></li>
                <li><div class="box add" style="width: 100%;" ng-click="cut(list, $index)">cut</div></li>
            </ul>
        </div>
    </div>
    </script>

    <script type="text/ng-template" id="/open_file.html">
        <div ng-controller="open_file" class="box slot file">
            <div ng-click="close(value)" style="cursor:pointer;">close {{value.path}}</div>
            <div
                ng-include="'/one_list.html'"
                ng-controller="listctrl"
                onload="init(value.value, ['module', 'object'])"
                class="block"
            ></div>
        </div>
    </script>

    <script type="text/ng-template" id="/module.html">
        <div ng-controller="module" class="box module inline">
            <div class="block">
                <span class="symbol" >dependencies</span>
                <div
                    ng-include="'/vertical_list.html'"
                    ng-controller="listctrl"
                    onload="init(value.dependencies, ['dependency'])"
                    class="block"
                ></div>
            </div>
            <div class="block">
                <span class="symbol" >variables</span>
                <div
                    ng-include="'/horizontal_list.html'"
                    ng-controller="listctrl"
                    onload="init(value.vars, ['variable_declare'])"
                    class="inline"
                ></div>
            </div>

            <hr>

            <div
                ng-include="'/vertical_list.html'"
                ng-controller="listctrl"
                onload="init(value.sequence, ['assign', 'evaluate', 'return', 'if', 'while', 'for', 'for-in'])"
                class="block"
            ></div>
        </div>
    </script>



    <script type="text/ng-template" id="/dependency.html">
        <div ng-controller="dependency" class="box dependency" ng-click="box_clicked(status)">
            <div class="inline">
                <span
                    class="variable"
                    ng-click="status.edit=!status.edit"
                >{{value.name}}</span>
                <div ng-if="status.edit">
                    <form ng-submit="change_variable()">
                        <hr>
                        <input type="text" ng-model="status.name_tmp"></input>
                        <button type="submit" class="box add" style="">+</button>
                        <span ng-show="status.test.invalid" style="cursor: pointer; color: #ff0000;">invalid</span>
                        <span ng-show="status.test.reserved" style="cursor: pointer; color: #ff0000;">reserved</span>
                        <span
                            ng-show="status.test.lostscope_conflict || status.test.override_conflict"
                            ng-click="status.test={}; status.edit=false; value.name=status.name_tmp;"
                            style="cursor: pointer; color: #ff0000;"
                        >ignore conflicts</span>
                    </form>
                </div>
            </div>
            <span class="symbol" >&larr;</span>

            <div class="inline">
                <span
                    class="dependency"
                    ng-click="status.edit_path=!status.edit_path"
                >{{value.path}}</span>
                <div ng-if="status.edit_path">

                    <div
                        ng-include="'/one_list.html'"
                        ng-controller="listctrl"
                        onload="init(directory, [])"
                        class="block"
                    ></div>
                </div>
            </div>

            <ul ng-if="status.view_actions" class="list_array">
                <li><div class="box add" style="width: 100%;" ng-click="copy(value)">copy</div></li>
                <li><div class="box add" style="width: 100%;" ng-click="cut(list, $index)">cut</div></li>
            </ul>
        </div>
    </script>




    <script type="text/ng-template" id="/variable_declare.html">
        <div ng-controller="variable_declare" class="box slot variable" ng-click="box_clicked(status)">
            <span
                class="variable"
                ng-click="status.edit=!status.edit"
            >{{value.name}}</span>
            <div ng-if="status.edit">
                <form ng-submit="change_variable()">
                    <hr>
                    <input type="text" ng-model="status.name_tmp"></input>
                    <button type="submit" class="box add" style="">+</button>
                    <span ng-show="status.test.invalid" style="cursor: pointer; color: #ff0000;">invalid</span>
                    <span ng-show="status.test.reserved" style="cursor: pointer; color: #ff0000;">reserved</span>
                    <span
                        ng-show="status.test.lostscope_conflict || status.test.override_conflict"
                        ng-click="status.test={}; status.edit=false; value.name=status.name_tmp;"
                        style="cursor: pointer; color: #ff0000;"
                    >ignore conflicts</span>
                </form>
            </div>
            <ul ng-if="status.view_actions" class="list_array">
                <li><div class="box add" style="width: 100%;" ng-click="copy(value)">copy</div></li>
                <li><div class="box add" style="width: 100%;" ng-click="cut(list, $index)">cut</div></li>
            </ul>
        </div>
    </script>

    <script type="text/ng-template" id="/variable.html">
        <div ng-controller="variable" class="box slot variable" ng-click="box_clicked(status)">
            <span
                class="variable"
                ng-click="status.edit=!status.edit"
            >{{value.name}}</span>
            <div ng-if="status.edit">
                <form ng-submit="add_variable()">
                    <hr>
                    <input type="text" ng-model="status.name_tmp"></input>
                    <button type="submit" class="box add" style="">+</button>
                    <span ng-show="status.test.invalid" style="cursor: pointer; color: #ff0000;">invalid</span>
                    <span ng-show="status.test.reserved" style="cursor: pointer; color: #ff0000;">reserved</span>
                    <span
                        ng-show="status.test.scopelost_conflict || status.test.override_conflict"
                        ng-click="status.test={}; status.edit=false; value.name=status.name_tmp;"
                        style="cursor: pointer; color: #ff0000;"
                    >ignore conflicts</span>
                </form>
                <div ng-include="'/variable_scope.html'"></div>
            </div>
            <ul ng-if="status.view_actions" class="list_array">
                <li><div class="box add" style="width: 100%;" ng-click="copy(value)">copy</div></li>
                <li><div class="box add" style="width: 100%;" ng-click="cut(list, $index)">cut</div></li>
            </ul>
        </div>
    </script>

    <script type="text/ng-template" id="/source.html">
        <div ng-controller="source" class="box slot source" ng-click="box_clicked(status)">
            <span
                class="source"
                ng-click="status.edit=!status.edit"
                style="white-space: pre;"
            >{{value.value}}</span>
            <form ng-if="status.edit" ng-submit="change()">
                <hr>
                <input ng-model="status.src_tmp" ng-trim="false"></input>
                <button type="submit" class="btn btn-warning btn-xs">
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                </button>
            </form>
            <ul ng-if="status.view_actions" class="list_array">
                <li><div class="box add" style="width: 100%;" ng-click="copy(value)">copy</div></li>
                <li><div class="box add" style="width: 100%;" ng-click="cut(list, $index)">cut</div></li>
            </ul>
        </div>
    </script>

    <script type="text/ng-template" id="/null.html">
        <div ng-controller="null" class="box slot null" ng-click="box_clicked(status)">
            <span class="symbol" style="cursor:pointer;">null</span>
            <ul ng-if="status.view_actions" class="list_array">
                <li><div class="box add" style="width: 100%;" ng-click="copy(value)">copy</div></li>
                <li><div class="box add" style="width: 100%;" ng-click="cut(list, $index)">cut</div></li>
            </ul>
        </div>
    </script>

    <script type="text/ng-template" id="/boolean.html">
        <div ng-controller="boolean" class="box slot boolean" ng-click="box_clicked(status)">
            <span
                class="boolean"
                ng-click="status.edit=!status.edit"
            >{{value.value}}</span>
            <form ng-if="status.edit" ng-submit="change()">
                <hr>
                <select ng-model="status.boolean_tmp">
                    <option value="true">true</option>
                    <option value="false">false</option>
                </select>
                <button type="submit" class="btn btn-warning btn-xs">
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                </button>
            </form>
            <ul ng-if="status.view_actions" class="list_array">
                <li><div class="box add" style="width: 100%;" ng-click="copy(value)">copy</div></li>
                <li><div class="box add" style="width: 100%;" ng-click="cut(list, $index)">cut</div></li>
            </ul>
        </div>
    </script>

    <script type="text/ng-template" id="/number.html">
        <div ng-controller="number" class="box slot number" ng-click="box_clicked(status)">
            <span
                class="number"
                ng-click="status.edit=!status.edit"
            >{{value.value}}</span>
            <form ng-if="status.edit" ng-submit="test_number()">
                <hr>
                <input ng-model="status.num_tmp"></input>
                <button type="submit" class="btn btn-warning btn-xs">
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                </button>
                <span ng-show="status.error" style="cursor: pointer; color: #ff0000;">{{status.error}}</span>
            </form>
            <ul ng-if="status.view_actions" class="list_array">
                <li><div class="box add" style="width: 100%;" ng-click="copy(value)">copy</div></li>
                <li><div class="box add" style="width: 100%;" ng-click="cut(list, $index)">cut</div></li>
            </ul>
        </div>
    </script>

    <script type="text/ng-template" id="/string.html">
        <div ng-controller="string" class="box slot string" ng-click="box_clicked(status)">
            <span
                class="string"
                ng-click="status.edit=!status.edit"
                style="white-space: pre;"
            >&#39;{{value.value}}&#39;</span>
            <form ng-if="status.edit" ng-submit="change()">
                <hr>
                <input ng-model="status.str_tmp" ng-trim="false"></input>
                <button type="submit" class="btn btn-warning btn-xs">
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                </button>
            </form>
            <ul ng-if="status.view_actions" class="list_array">
                <li><div class="box add" style="width: 100%;" ng-click="copy(value)">copy</div></li>
                <li><div class="box add" style="width: 100%;" ng-click="cut(list, $index)">cut</div></li>
            </ul>
        </div>
    </script>


    <script type="text/ng-template" id="/variable_scope.html">
        <div ng-controller="variable_scope" class="">

            <div ng-repeat="vars in vars_list" class="box function inline">
                <div
                    ng-repeat="v in vars"
                    class="box block slot variable"
                >
                    <span
                        ng-if="v.access"
                        ng-click="status.edit=false; value.name=v.name;"
                        class="variable"
                    >{{v.name}}</span>
                    <span
                        ng-if="!v.access"
                        style="opacity: 0.5;"
                    >{{v.name}}</span>
                </div>
            </div>

        </div>
    </script>

    <script type="text/ng-template" id="/property.html">
        <div ng-controller="property" class="property" ng-click="box_clicked(status)">
            <div
                ng-include="'/one_list.html'"
                ng-controller="listctrl"
                onload="init(value.name, ['string'])"
                class="inline"
            ></div>
            <span class="symbol" >:</span>
            <div
                ng-include="'/one_list.html'"
                ng-controller="listctrl"
                onload="init(value.value, ['null','boolean','number','string','object','array','function','evaluate','variable','reference'])"
                class="inline"
            ></div>
            <ul ng-if="status.view_actions" class="list_array">
                <li><div class="box add" style="width: 100%;" ng-click="copy(value)">copy</div></li>
                <li><div class="box add" style="width: 100%;" ng-click="cut(list, $index)">cut</div></li>
            </ul>
        </div>
    </script>

    <script type="text/ng-template" id="/object.html">
        <div ng-controller="object" class="box object" ng-click="box_clicked(status)">
            <div
                ng-include="'/vertical_list.html'"
                ng-controller="listctrl"
                onload="init(value.properties, ['property'])"
            ></div>
            <ul ng-if="status.view_actions" class="list_array">
                <li><div class="box add" style="width: 100%;" ng-click="copy(value)">copy</div></li>
                <li><div class="box add" style="width: 100%;" ng-click="cut(list, $index)">cut</div></li>
            </ul>
        </div>
    </script>

    <script type="text/ng-template" id="/array.html">
        <div ng-controller="array" class="box array" ng-click="box_clicked(status)">
            <div
                ng-include="'/vertical_list_indexes.html'"
                ng-controller="listctrl"
                onload="init(value.arr, ['null','boolean','number','string','object','array','function','evaluate','variable', 'reference'])"
            ></div>
            <ul ng-if="status.view_actions" class="list_array">
                <li><div class="box add" style="width: 100%;" ng-click="copy(value)">copy</div></li>
                <li><div class="box add" style="width: 100%;" ng-click="cut(list, $index)">cut</div></li>
            </ul>
        </div>
    </script>

    <script type="text/ng-template" id="/function.html">
        <div ng-controller="function" class="box function" ng-click="box_clicked(status)">
            <div class="block">
                <span class="symbol">arguments</span>
                <div
                    ng-include="'/vertical_list_indexes.html'"
                    ng-controller="listctrl"
                    onload="init(value.args, ['variable_declare'])"
                    class="block"
                ></div>
            </div>
            <div class="block">
                <span class="symbol" >variables</span>
                <div
                    ng-include="'/horizontal_list.html'"
                    ng-controller="listctrl"
                    onload="init(value.vars, ['variable_declare'])"
                    class="inline"
                ></div>
            </div>

            <hr>

            <div
                ng-include="'/vertical_list.html'"
                ng-controller="listctrl"
                onload="init(value.sequence, ['assign', 'evaluate', 'return', 'if', 'while', 'for', 'for-in'])"
                class="block"
            ></div>
            <ul ng-if="status.view_actions" class="list_array">
                <li><div class="box add" style="width: 100%;" ng-click="copy(value)">copy</div></li>
                <li><div class="box add" style="width: 100%;" ng-click="cut(list, $index)">cut</div></li>
            </ul>
        </div>

    </script>

    <script type="text/ng-template" id="/assign.html">
        <div ng-controller="assign" class="box assign inline" ng-click="box_clicked(status)">
            <div
                ng-include="'/one_list.html'"
                ng-controller="listctrl"
                onload="init(value.variable, ['variable','reference'])"
                class="inline"
            ></div>
            <span class="symbol">&larr;</span>
            <div
                ng-include="'/one_list.html'"
                ng-controller="listctrl"
                onload="init(value.value, ['null','boolean','number','string','object','array','function','evaluate','variable','reference'])"
                class="inline"
            ></div>
            <ul ng-if="status.view_actions" class="list_array">
                <li><div class="box add" style="width: 100%;" ng-click="copy(value)">copy</div></li>
                <li><div class="box add" style="width: 100%;" ng-click="cut(list, $index)">cut</div></li>
            </ul>
        </div>
    </script>

    <script type="text/ng-template" id="/evaluate.html">
        <div ng-controller="evaluate" class="box evaluate inline" ng-click="box_clicked(status)">
            <span class="symbol">evaluate </span>
            <div
                ng-include="'/one_list.html'"
                ng-controller="listctrl"
                onload="init(value.variable, ['function','variable','reference', 'assign', 'evaluate','source'])"
                class="inline"
            ></div>
            <div ng-if="value.variable.length > 0 && value.variable[0].type !== 'source'">
                <span class="symbol block">arguments</span>
                <div
                    ng-include="'/vertical_list_indexes.html'"
                    ng-controller="listctrl"
                    onload="init(value.args, ['null','boolean','number','string','object','array','function','evaluate','variable','reference','assign'])"
                    class="block"
                ></div>
            </div>
            <ul ng-if="status.view_actions" class="list_array">
                <li><div class="box add" style="width: 100%;" ng-click="copy(value)">copy</div></li>
                <li><div class="box add" style="width: 100%;" ng-click="cut(list, $index)">cut</div></li>
            </ul>
        </div>
    </script>

    <script type="text/ng-template" id="/return.html">
        <div ng-controller="return" class="box return inline" ng-click="box_clicked(status)">
            <span class="symbol">return &larr;</span>
            <div
                ng-include="'/one_list.html'"
                ng-controller="listctrl"
                onload="init(value.variable, ['null','boolean','number','string','object','array','function','evaluate','variable','reference'])"
                class="inline"
            ></div>
            <ul ng-if="status.view_actions" class="list_array">
                <li><div class="box add" style="width: 100%;" ng-click="copy(value)">copy</div></li>
                <li><div class="box add" style="width: 100%;" ng-click="cut(list, $index)">cut</div></li>
            </ul>
        </div>
    </script>

    <script type="text/ng-template" id="/reference.html">
        <div ng-controller="reference" class="box reference" ng-click="box_clicked(status)">
            <div
                ng-include="'/one_list.html'"
                ng-controller="listctrl"
                onload="init(value.object, ['variable','reference','assign','evaluate'])"
                class="inline"
            ></div>
            <span class="symbol">[</span>
            <div
                ng-include="'/one_list.html'"
                ng-controller="listctrl"
                onload="init(value.ref, ['evaluate','variable','number','string','reference'])"
                class="inline"
            ></div>
            <ul ng-if="status.view_actions" class="list_array">
                <li><div class="box add" style="width: 100%;" ng-click="copy(value)">copy</div></li>
                <li><div class="box add" style="width: 100%;" ng-click="cut(list, $index)">cut</div></li>
            </ul>
        </div>
    </script>

    <script type="text/ng-template" id="/conditional.html">
        <div ng-controller="conditional" class="box conditional" ng-click="box_clicked(status)">
            <div
                ng-include="'/one_list.html'"
                ng-controller="listctrl"
                onload="init(value.condition, ['evaluate', 'assign', 'variable', 'reference'])"
            ></div>
            <span class="symbol">then</span>
            <div
                ng-include="'/vertical_list.html'"
                ng-controller="listctrl"
                onload="init(value.sequence, ['assign', 'evaluate', 'return', 'if', 'while', 'for', 'for-in'])"
                class="inline"
            ></div>
            <ul ng-if="status.view_actions" class="list_array">
                <li><div class="box add" style="width: 100%;" ng-click="copy(value)">copy</div></li>
                <li><div class="box add" style="width: 100%;" ng-click="cut(list, $index)">cut</div></li>
            </ul>
        </div>
    </script>

    <script type="text/ng-template" id="/if.html">
        <div ng-controller="if" class="box if" ng-click="box_clicked(status)">
            <span class="symbol">if</span>
            <div class="inline">
                <div
                    ng-include="'/vertical_list.html'"
                    ng-controller="listctrl"
                    onload="init(value.conditionals, ['conditional'])"
                    class="block"
                ></div>
            </div>
            <ul ng-if="status.view_actions" class="list_array">
                <li><div class="box add" style="width: 100%;" ng-click="copy(value)">copy</div></li>
                <li><div class="box add" style="width: 100%;" ng-click="cut(list, $index)">cut</div></li>
            </ul>
        </div>
    </script>

    <script type="text/ng-template" id="/while.html">
        <div ng-controller="while" class="box while" ng-click="box_clicked(status)">
            <div>
                <span class="symbol">while</span>
                <div
                    ng-include="'/one_list.html'"
                    ng-controller="listctrl"
                    onload="init(value.condition, ['evaluate', 'assign', 'variable', 'reference'])"
                    class="inline"
                ></div>
            </div>
            <span class="symbol">do</span>
            <div
                ng-include="'/vertical_list.html'"
                ng-controller="listctrl"
                onload="init(value.sequence, ['assign', 'evaluate', 'return', 'if', 'while', 'for', 'for-in'])"
                class="inline"
            ></div>
            <ul ng-if="status.view_actions" class="list_array">
                <li><div class="box add" style="width: 100%;" ng-click="copy(value)">copy</div></li>
                <li><div class="box add" style="width: 100%;" ng-click="cut(list, $index)">cut</div></li>
            </ul>
        </div>
    </script>

    <script type="text/ng-template" id="/for.html">
        <div ng-controller="for" class="box for" ng-click="box_clicked(status)">
            <div>
                <span class="symbol">for</span>
                <div
                    ng-include="'/one_list.html'"
                    ng-controller="listctrl"
                    onload="init(value.initialize, ['evaluate','assign'])"
                    class="block"
                ></div>
                <div
                    ng-include="'/one_list.html'"
                    ng-controller="listctrl"
                    onload="init(value.condition, ['evaluate', 'assign', 'variable', 'reference'])"
                    class="block"
                ></div>
                <div
                    ng-include="'/one_list.html'"
                    ng-controller="listctrl"
                    onload="init(value.increment, ['evaluate', 'assign'])"
                    class="block"
                ></div>
            </div>
            <span class="symbol">do</span>
            <div
                ng-include="'/vertical_list.html'"
                ng-controller="listctrl"
                onload="init(value.sequence, ['assign', 'evaluate', 'return', 'if', 'while', 'for', 'for-in'])"
                class="inline"
            ></div>
            <ul ng-if="status.view_actions" class="list_array">
                <li><div class="box add" style="width: 100%;" ng-click="copy(value)">copy</div></li>
                <li><div class="box add" style="width: 100%;" ng-click="cut(list, $index)">cut</div></li>
            </ul>
        </div>
    </script>

    <script type="text/ng-template" id="/for-in.html">
        <div ng-controller="for-in" class="box for-in" ng-click="box_clicked(status)">
            <div>
                <span class="symbol">for</span>
                <div
                    ng-include="'/one_list.html'"
                    ng-controller="listctrl"
                    onload="init(value.variable, ['variable'])"
                    class="inline"
                ></div>
                <span class="symbol">in</span>
                <div
                    ng-include="'/one_list.html'"
                    ng-controller="listctrl"
                    onload="init(value.object, ['evaluate', 'assign','variable', 'reference', 'object'])"
                    class="inline"
                ></div>
            </div>
            <span class="symbol">do</span>
            <div
                ng-include="'/vertical_list.html'"
                ng-controller="listctrl"
                onload="init(value.sequence, ['assign', 'evaluate', 'return', 'if', 'while', 'for', 'for-in'])"
                class="inline"
            ></div>
            <ul ng-if="status.view_actions" class="list_array">
                <li><div class="box add" style="width: 100%;" ng-click="copy(value)">copy</div></li>
                <li><div class="box add" style="width: 100%;" ng-click="cut(list, $index)">cut</div></li>
            </ul>
        </div>
    </script>

</body>
</html>
